// Carousel de Marcas

.carousel{
    width: 100%;
    height: max-content;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    margin-block: 1.6rem;
    background-color: $white-color;

    @media screen and (max-width: 991px){
        height: 100px;
        width: 100%;
    }
    .carousel-scroll{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1.2rem;
        overflow-x: hidden;
        width: 100%;
        height: 100%;
        margin-block: 1.2rem;
        background-color: $white-color;
        -webkit-mask-image: linear-gradient(90deg, transparent, #121212 30%, #111111 70%, transparent);

        @media screen and (max-width: 991px){
            height: 200px;
            width: 100%;
        }
  
        .carousel-inner{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 1.2rem;
            width: 100%;
            height: 100%;
            transition: transform 0.5s ease;
            animation: carousel-words 30s linear infinite;

            @media screen and (max-width: 991px){
                height: 200px;
                width: 100%;
            }
            .carousel-item{
                width: 100%;
                height: auto;
                background-color: $white-color;
                transition: transform 0.5s ease;
                cursor: pointer;
                &:hover{
                    transform: scale(1.02);
                }
                @media screen and (max-width: 991px){
                    height: 200px;
                    width: 100%;
                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    @media screen and (max-width: 991px){
                        width: 200px;
                        height: 100%;
                        object-fit: contain;
                        border-radius: 12px;
                    }
                }
                

            }
        }
    }
}

@keyframes carousel-words {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}

// Carousel de Produtos

.slider{
    margin: 0 auto;
    max-width: 100vw;
    width: 100%;
    max-height: 100vh;
    height: 100%;
    overflow: hidden;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: linear-gradient(to top, rgba(0,0,0,0.8), transparent);
    }
    @media screen and (max-width: 1118px){
        height: 100vh;
        width: 100%;
    }
    .slides{
        width: 100%;
        max-width: auto;
        height: max-content;
        display: flex;
        @media screen and (max-width: 1118px){
            height: 100%;
            width: 100%;
        }
        input{
            display: none;

        }
        .slide{
            width: 100%;
            height: max-content;
            position: relative;
            transition: 2s;
            img{
                width: 100vw;
                object-fit: cover;
                @media screen and (max-width: 1118px){
                    height: 100vh;
                    width: 100vh;
                }
            }
            @media (max-width: 1200px) {
                .slide {
                  flex: 0 0 100%;
                }
            }
            @media (max-width: 426px) {
                .slide {
                  flex: 0 0 100%;
                }
            }    
            

        }
        #radio1:checked ~ .first {
            margin-left: 0;
        }
        #radio2:checked ~ .first {
            margin-left: -100vw;
        }
        #radio3:checked ~ .first {
            margin-left: -200vw;
        }
        #radio4:checked ~ .first {
            margin-left: -300vw;
        }
        #radio5:checked ~ .first {
            margin-left: -400vw;
        }
        @media (max-width: 1200px){
            #radio1:checked ~ .first {
                margin-left: 0;
            }
            #radio2:checked ~ .first {
                margin-left: -100%;
            }
            #radio3:checked ~ .first {
                margin-left: -200%;
            }
            #radio4:checked ~ .first {
                margin-left: -300%;
            }
            #radio5:checked ~ .first {
                margin-left: -400%;
            }
        }

        #radio1:checked ~ .navgation-auto .auto-btn1{
            background-color: #ddd;
        }
        #radio2:checked ~ .navgation-auto .auto-btn2{
            background-color: #ddd;
        }
        #radio3:checked ~ .navgation-auto .auto-btn3{
            background-color: #ddd;
        }
        #radio4:checked ~ .navgation-auto .auto-btn4{
            background-color: #ddd;
        }
        #radio5:checked ~ .navgation-auto .auto-btn5{
            background-color: #ddd;
        }

        .navgation-auto {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            margin-bottom: 10%;
            justify-content: center;
            z-index: 2;
            div{
                border: 2px solid $white-color;
                padding: 5px;
                cursor: pointer;
                border-radius: 10px;
                transition: 1s; 
                &:not(:last-child){
                    margin-right: 40px;
                }
                &:hover{
                    background-color: $white-color;
                }
            }
        }
    }
    .navigation-manual{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        margin-bottom: 10%;
        display: flex;
        justify-content: center;
        z-index: 2;
        .manual-btn{
            border: 2px solid #ddd;
            padding: 5px;
            cursor: pointer;
            border-radius: 10px;
            transition: 1s;
            &:not(:last-child){
                margin-right: 40px;
            }
            &:hover{
                background-color: $white-color;
            }
        }
    }
}