// Cores Primarias

$background-one: #fffceb;
$background-two: #e3ef26;
$background-three: #076653;

//Cores de Texto
$color-one: #000000;
$color-two: #fff;
$color-three: #00d432;
$color-four: #e3ef26;

// Cores de Botões
$button-color-one: #00d432;
$button-color-two: #fff;
$button-color-three: #076653;
$button-color-four: #e3ef26;

