// Cores Primarias

$background-one: #000 ;
$background-two: #fff;
$background-three: #000;

//Cores de Texto
$color-one: #000 ;
$color-two: #fff;
$color-three: #00d432;
$color-four: #e3ef26;

// Cores de Botões
$button-color-one: #00d432;
$button-color-two: #fff;
$button-color-three: #076653;
$button-color-four: #e3ef26;

