
.container{
    max-width: 1740px;
    margin: 0 auto;
    padding: 0 1rem;
}

.bg-home{
    position: relative;
}

.bg-home::before{
    content: '';
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(to bottom, #0000, transparent);
    background-position: 50% 0;
    opacity: 0.8;
    filter: blur(5px);
}

// Header Section //
.header{
    background-color: $white-color;
    padding: 1.2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    width: 100%;
    top: 0;
    @media screen and (max-width: 991px) {
        flex-direction: column;
        align-items: flex-start;
        padding: 0.8rem;
    }
    .header-content{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        @media screen and (max-width: 991px) {
            flex-direction: column;
            gap: 0.8rem;
            padding: 0.8rem;
            h3{
                font-size: 1.6rem;
                font-weight: 700;
                text-align: left;
                color: $white-color;
            }
        }
        .header-item{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 0.2rem;
            a{
                color: $white-color;
                text-decoration: none;
                font-size: 1.6rem;
                font-weight: 700;
            }
            h2{
                font-size: 3.8rem;
                color: $orange-color;
                margin-bottom: 0.2rem;
                text-align: center;
                @media screen and (max-width: 991px){
                    font-size: 2.2rem;
                }
            }
            p{
                font-size: 1.2rem;
                color: $black-color;
                text-align: center;
                @media screen and (max-width: 991px){
                    font-size: 1.0rem;
                }
            }
            @media screen and (max-width: 991px) {
                a{
                    font-size: 1.4rem;
                }
            }
        }
    }
}

// ------------------------------------------ //

// Hero //

.hero{
    padding: 1.2rem;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow-x: hidden;
    .hero-content{
        max-width: 1900px;
        height: 380px;
        border-radius: 12px;
        @media screen and (max-width: 621px){
            background-color: rgba(0,0,0,0);
            text-align: center;
        }
    }

    h1{
        font-size: 4.5rem;
        font-weight: 700;
        color: $white-color;
        margin-bottom: 1.1rem;
    }
    h2{
        font-size: 2.8rem;
        color: $white-color;
        font-weight: 700;
        margin-bottom: 0.8rem;
        @media screen and (max-width: 541px){
            font-size: 2.5rem;
        }
        
        @media screen and (max-width: 421px){
            font-size: 2.4rem;
        }
    }
    p{
        font-size: 1.8rem;
        color: $white-color;
        margin-bottom: 2.5rem;
    }
    span{
        color: $orange-color;
    }
    
    .hero-btn{
        background-color: $orange-color;
        color: $white-color;
        padding: 0.6rem 1.2rem;
        text-decoration: none;
        font-weight: 400;
        transition: 0.3s, box-shadow 0.3s ease;
        font-size: 1.2rem;
        

        &:hover{
            background-color:$white-color;
            box-shadow: 0px 0px 20px $white-color;
            color: $black-color;
        }
    }
}

.hero-btn:hover{
    animation: scaleBtn alternate infinite;
}
@keyframes scaleBtn {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.2);
    }
}

// Responsividade //

@media screen and (max-width: 991px){
    .hero{
        flex-direction: column;
        align-items: center;
        text-align: left;
        overflow-x: hidden;

        h1{
            font-size: 2.6rem;
            margin-bottom: 1rem;
        }
        h2{
            font-size: 1.8rem;
            margin-bottom: 0.8rem;
        }
        p{
            font-size: 1.1rem;
            margin-bottom: 2rem;
        }

        a{
            font-size: 1rem;
            margin-block: 1rem;
        }
    }
}
@media screen and (max-width: 480px){
    .hero{
        flex-direction: column;
        align-items: center;
        text-align: left;
        overflow-x: hidden;
        h1{
            font-size: 1.8rem;
        }
        h2{
            font-size: 1.3rem;
            margin-bottom: 0.8rem;
        }
        p{
            font-size: 0.9rem;
        }
        a{
            font-size: 0.8rem;
        }
    }    
}

// Gallery 

.gallery{
    padding: 1.2rem;
    height:auto;
    background-color: $white-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;

    .gallery-header{
        font-size: 2.8rem;
        width: 100%;
        height: max-content;
        color: $black-color;
        margin-bottom: 1.5rem;
    }

    @media screen and (max-width: 991px) {
        height: max-content;
        flex-direction: column;
        text-align: left;
        overflow-x: hidden;
    }

    .gallery-content{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap:nowrap;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;

        @media screen and (max-width: 991px) {
            min-height: max-content;;
            flex-direction: column;
            text-align: left;
        }
    }

    .gallery-grid{
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 1rem;

        @media screen and (max-width: 991px) {
            height: max-content;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(6, 1fr);
            text-align: left;
        }
    }

    .grid-item{
        max-width: 900px;
        width: 100%;
        height: 100%;
        display: flex;
        background-color: #f8f8f8;
        border-radius: none;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: 991px) {
            height: max-content;
            flex-direction: column;
            text-align: left;
        }
    }
    .grid-midia{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-size: cover;
        padding: 2rem;
    }
    .grid-midia img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 1/1;
        border-radius: 12px;
        transition: all 1.3s;
        &:hover{
            transform: rotate(5deg);
        }
        @media screen and (max-width: 991px) {
            width: 60%;
            object-fit: cover;
        }
    }
    .grid-content{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 1rem;
        padding: 1rem;

        // Ajustes no Preço

        .price-rating{
            margin-block: 0.4rem;
            .price{
                font-size: 2rem;
                font-weight: 600;
                color: $black-color;
            }
        }


        // Ajustes nas Estrelas

        .star-rating {
            display: flex;
            align-items: center;
            cursor: pointer;
            margin-block-end: 0.6rem;
            .star {
                font-size:1.6rem;
            }    
             
            .star.active {
                color: gold;
            }

            .rating-count {
                font-size: 1rem;
                margin-left: 10px;
            }
            
        }  

        .average-rating{
            font-size: 1rem;
            margin-block: 0.4rem;
            color: $orange-color;
        }

        // Ajustes nos Pedidos

        .salle-rating {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 1.5rem;
            width: 100%;
            height: auto;
            cursor: pointer;
            div{
                height: max-content;
                width: max-content;
                a{
                    color: $white-color;
                    padding: 0.2rem 1.2rem;
                    text-decoration: none;
                    transition: 0.3s, box-shadow 0.3s ease;
                    font-size: 1rem;
                    
                    &:hover{
                        box-shadow: 0px 0px 20px $white-color;
                        color: $black-color;
                    }
                }
            }
        }

        h3{
            font-size: 2.2rem;
            color: $orange-color;
            text-align: left;
            font-weight: 700;

            @media screen and (max-width: 991px) {
                font-size: 1.8rem;
            }
        }
        h4{
            font-size: 1.2rem;
            color: $orange-color;
            margin-block: 0.4rem;
            text-align: left;
            font-weight: 500;
            i{
                color: $orange-color;
            }
            @media screen and (max-width: 991px) {
                font-size: 1.2rem;
            }
        }
        p{
            font-size: 1rem;
            text-align: left;
            
            @media screen and (max-width: 991px) {
                font-size: 1.0rem;
            }
        }

        // Ajustes no botão

        .btn-more{
            width: 100%;
            display: flex;
            align-items: center;
            gap: 0.4rem;
            padding: 0.4rem 1rem;color: $white-color;
            font-size: 1.2rem;
            cursor: pointer;
            background: transparent;
            color: $orange-color;
            transition: 0.3s;
            i{
                color: $orange-color;
                &:hover{
                    color: $black-color;
                    text-shadow: #f8f8f8;
                }
            }
            &:hover{
                color: $black-color;
                text-shadow: #f8f8f8;
            }
            @media screen and (max-width: 991px) {
                font-size: 1rem;
                height: 42px;
                padding: 0.2rem 1rem;
            }
        }
    }
}

// About //

.about{
    padding: 1.2rem;
    height: auto;
    background-color: $white-color;
    color: $black-color;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    text-align: center;
    overflow: hidden;

    
    @media screen and (max-width: 991px) {
        max-width: 100%;
        height: max-content;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        overflow-x: hidden;
    }
}
.about-header{
    width: 100vw;
    display: flex;
    height: 200px;
    flex-direction: row;
    align-items: center;
    -webkit-mask-image: linear-gradient(90deg, transparent, #121212 30%, #111111 70%, transparent);

    @media screen and (max-width: 991px) {
        max-width: 100vh;
        width: 100%;
        height: max-content;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        gap: 1rem;
    }
}
.about-scroll{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    height: 100%;
    animation: carousel-words 10s linear infinite;
    
    @keyframes carousel-words {
        0%{
            transform: translateX(-100%);
        }
        100%{
            transform: translateX(100%);
        }
    }

    @media screen and (max-width: 991px) {
        max-width: 100vh;
        width: 100%;
        height: max-content;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        gap: 1rem;
    }
    
    span{
        padding: 0.4rem 1.2rem;
        font-size: 2.0rem;
        margin-right: 1rem;
        color: $orange-color;
        cursor: pointer;

        @media screen and (max-width: 991px) {
            font-size: 1.0rem;
        }
    }
}

.about-content{
    width: 100%;
    height: max-content;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1.2rem;
    margin-block: 1.6rem;

    @media screen and (max-width: 991px) {
        max-width: 100vh;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
   
}

.about-item{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    @media screen and (max-width: 991px){
        width: 100%;
        height: auto;
    }
}

.about-midia{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 0.6rem;
    object-fit: cover;
    overflow: hidden;
    @media screen and (max-width: 991px){
        width: 100%;
        height: auto;
    }
    
    /* Faz o primeiro item ocupar 2 colunas */
    img.large {
        grid-column: span 1; /* Ocupar duas colunas */
        grid-row: span 2;    /* Ocupar uma linha */
    }
    img{
        width: 100%;
        height: 100%;
        aspect-ratio: 16/9;
        object-fit: cover;
        transition: all 0.3s;
        &:hover{
            transform: scale(1.02);
        }
    }

    @media screen and (max-width: 991px) {
        img{
            border-radius: 6px;
        }
    }
    
}

.about-info{
    width: 100%;
    height: auto;
    display: flex;
    background-color: #f8f8f8;
    flex-direction: column;
    align-items: start;
    gap: 0.8rem;
    padding: 1.2rem;

    @media screen and (max-width: 991px){
        width: 100%;
        height: auto;
    }
    .price-rating{
        display: flex;
        align-items: center;
        gap: 0.4rem;
        margin-block-end: 0.4rem;
        .price{
            font-size: 2rem;
            color: $black-color;
            font-weight: 700;
        }
    }
    div{
        font-weight: 400;
        font-size: 1.1rem;
        text-align: left;
    }
    h3{
        font-size: 2.8rem;
        font-weight: 700;
        text-align: left;
        color: $orange-color;
        @media screen and (max-width: 991px) {
            font-size: 1.8rem;
        }
    }
    h4{
        font-size: 1.5rem;
        font-weight: 500;
        margin-block-end: 0.6rem;
        color: $orange-color;
        i{
            color: $orange-color;
        }
    }
    p{
        font-size: 1.0rem;
        text-align: left;
    }
    .average-rating{
        font-size: 1rem;
        margin-block: 0.4rem;
        color: $orange-color;
    }

    .salle-rating{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: auto;
        gap: 0.5rem;
        div{
            height: auto;
            i{
                font-size: 1.2rem;
                color: $black-color;
                transition: 0.3s;
                &:hover{
                    color: $orange-color;
                }
            }
        }
        .btn-more{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            color: $black-color;
            font-size: 1.2rem;
            cursor: pointer;
            gap: 0.4rem;
            padding: 0.4rem 1rem;
            transition: 0.3s;
            &:hover{
                color: $orange-color;
            }
        }
    }
}

// Highlihts //

.highlights{
    padding: 1.2rem;
    height: auto;
    width: 100%;
    background-color: $white-color;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 1.8rem;
    margin-block: 2.4rem;
    overflow-x: hidden;

    @media screen and (max-width: 991px) {
        height: max-content;
        width: 100%;
        flex-direction: column-reverse;
        overflow-x: hidden;
    }
}

.highlights-header{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
   
}

.highlights-content{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.4rem;
    margin-block: 1.2rem;

    @media screen and (max-width: 991px) {
        height: max-content;
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    .highlights-item{
        background-color: #f8f8f8;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        @media screen and (max-width: 991px) {
            flex-direction: column;
            width: 100%;
            height: auto;
            gap: 0.8rem;
            padding: 1.2rem;
            h3{
                font-size: 1.6rem;
                font-weight: 700;
                text-align: left;
                color: $black-color;
            }
            h4{
                font-size: 1.0rem;
                font-weight: 500;
                margin-block-end: 0.6rem;
                color: $orange-color;
            }
            p{
                font-size: 0.8rem;
                text-align: left;
            }
        }

        .highlights-midia{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            object-fit: cover;
            gap: 1.2rem;
            padding: 1.2rem;
            @media screen and (max-width: 991px) {
                height: auto;
                width: 100%;
            }
            
            img{
                width: 300px;
                height: 520px;
                border-radius: 6px;
                object-fit: cover;
                transition: transform 0.3s ease;
                @media screen and (max-width: 991px) {
                    height: 280px;
                    width: 100%;
                }
                &:hover{
                    transform: rotate(5deg);
                }
            }
        }
    }
    .highlights-info{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 0.8rem;
        padding: 1.2rem;
        @media screen and (max-width: 991px) {
            height: auto;
            width: 100%;
        }
        h3{
            font-size: 2.4rem;
            font-weight: 700;
            text-align: left;
            color: $black-color;
            @media screen and (max-width: 991px){
                font-size: 2rem;
            }

        }
        h4{
            font-size: 1.2rem;
            font-weight: 500;
            margin-block-end: 0.6rem;
            color: $orange-color;
            text-align: left;
            i{
                color: $orange-color;
            }
        }
        p{
            font-size: 1.0rem;
            color: $black-color;
            text-align: left;
        }
        .price-rating{
            display: flex;
            align-items: center;
            gap: 0.4rem;
            margin-block-end: 0.4rem;
            .price{
                font-size: 2rem;
                color: $black-color;
                font-weight: 700;
            }
        }
        .average-rating{
            font-size: 1rem;
            margin-block: 0.4rem;
            color: $orange-color;
            text-align: left;
        }
        .star-rating{
            display: flex;
            align-items: center;
            gap: 0.4rem;
            margin-block-end: 0.4rem;
            .star{
                font-size: 1.2rem;
                color: $orange-color;
                transition: 0.3s;
                &:hover{
                    color: $white-color;
                }
            }
        }
    }

    .salle-rating{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: auto;
        gap: 0.5rem;
        div{
            height: auto;
            .btn-more{
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: transparent;
                color: $black-color;
                font-size: 1.2rem;
                cursor: pointer;
                gap: 0.4rem;
                padding: 0.4rem 1rem;
                transition: 0.3s;
                &:hover{
                    color: $orange-color;
                }
                i{
                    font-size: 1.2rem;
                    color: $black-color;
                    transition: 0.3s;
                    &:hover{
                        color: $orange-color;
                    }
                }
            }
        }
    }
}
// Showcase //

.showcase{
    padding: 1.2rem;
    width: 100%;
    max-width: 100vw;
    height: auto;
    background-color: $white-color;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $white-color;
    overflow-x: hidden;

    
    @media screen and (max-width: 991px) {
        height: max-content;
        width: 100%;
        flex-direction: column;
        overflow-x: hidden;
    }

    .showcase-content{
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1.5rem;

        @media screen and (max-width: 991px) {
            height: max-content;
            width: 100%;
            height: auto;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(1, 1fr);
        }
        .showcase-item{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1.5rem;
            padding: 1.2rem;
            border-radius: 6px;
            background-color: $white-color;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            @media screen and (max-width: 991px) {
                height: auto;
                width: 100%;
            }
            .showcase-midia{
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);
                object-fit: cover;
                gap: 1.2rem;
                padding: 1.2rem; 
                @media screen and (max-width: 991px) {
                    width: 100%;
                    height: auto;
                }
                img{
                    width: 100%;
                    height: 300px;
                    border-radius: 6px;
                    object-fit: cover;
                    transition: transform 0.3s ease;
                    overflow: hidden;
                    &:hover{
                        transform: scale(1.02);
                    }
                    
                    @media screen and (max-width: 600px) {
                        height: 150px;
                    }
                }
                img.large{
                    grid-column: span 2; /* Ocupar duas colunas */
                    grid-row: span 1;    /* Ocupar uma linha */
                }
            }
            .showcase-info{
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
                gap: 0.8rem;
                padding: 1.2rem;
                h3{
                    font-size: 2.4rem;
                    font-weight: 700;
                    text-align: left;
                    color: $black-color;
                    @media screen and (max-width: 600px) {
                        font-size: 2rem;
                    }
                }
                h4{
                    font-size: 1.2rem;
                    font-weight: 500;
                    margin-block-end: 0.6rem;
                    color: $orange-color;
                    text-align: left;
                    @media screen and (max-width: 600px) {
                        font-size: 1.2rem;
                    }
                    i{
                        color: $orange-color;
                    }
                }
                p{
                    font-size: 1.0rem;
                    color: $black-color;
                    text-align: left;
                }
            }
            .price-rating{
                display: flex;
                align-items: center;
                gap: 0.4rem;
                margin-block-end: 0.4rem;
                .price{
                    font-size: 2rem;
                    color: $black-color;
                    font-weight: 700;
                }
            }
            .average-rating{
                font-size: 1rem;
                margin-block: 0.4rem;
                color: $orange-color;
                text-align: left;
            }
            .star-rating{
                display: flex;
                align-items: center;
                gap: 0.4rem;
                margin-block-end: 0.4rem;
                .star{
                    font-size: 1.2rem;
                    color: $orange-color;
                    transition: 0.3s;
                    &:hover{
                        color: $white-color;
                    }
                }
            }
        }
        .salle-rating{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: auto;
            gap: 0.5rem;
            .btn-more{
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: transparent;
                color: $black-color;
                font-size: 1.2rem;
                cursor: pointer;
                gap: 0.4rem;
                padding: 0.4rem 1rem;
                transition: 0.3s;
                &:hover{
                    color: $orange-color;
                }
                i{
                    font-size: 1.2rem;
                    color: $black-color;
                    transition: 0.3s;
                    &:hover{
                        color: $orange-color;
                    }
                }
            }
        }

    }        
}

// FAQ//

.faq{
    padding: 1.2rem;
    height: auto;
    background-color: $white-color;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: $black-color;
    overflow-x: hidden;
    margin-block: 1.8rem;

    @media screen and (max-width: 991px) {
        height: max-content;
        width: 100%;
        flex-direction: column;
        overflow-x: hidden;
    }

    .faq-header{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width: 991px) {
            max-width: 100vh;
            width: 100%;
            height: max-content;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-evenly;
            gap: 1rem;
        }
        

        span{
            padding: 0.4rem 1.2rem;
            border: 1px solid $black-color;
            font-size: 1.2rem;
            margin-right: 1rem;
            cursor: pointer;

            @media screen and (max-width: 991px) {
                font-size: 1.0rem;
            }
        }
    }

    .faq-content{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        height: 100%;
        margin-block: 1.6rem;
        gap: 2.0rem;

        @media screen and (max-width: 991px) {
            width: 100%;
            height: max-content;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(3, 1fr);
        }

        .faq-item{
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            gap: 1.5rem;

            h3{
                font-size: 1.8rem;
                color: $black-color;
                text-align: left;
                font-weight: 400;

                @media screen and (max-width: 991px) {
                    font-size: 1.2rem;
                }
            }
            p{
                font-size: 1.0rem;
                color: $black-color;
                text-align: left;

                @media screen and (max-width: 991px) {
                    font-size: 0.8rem;
                }
            }

            @media screen and (max-width: 991px) {
                height: max-content;
                width: 100%;
                flex-direction: column;
            }
        }
    }
}

// Testimonial //

.testimonial{
    padding: 1.2rem;
    height: 100vh;
    background-image: url(/assets/img/coffe3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    text-align: center;
    color: $black-color;
    overflow-x: hidden;
    overflow-y: hidden;

    @media screen and (max-width: 991px) {
        height: max-content;
        width: 100%;
        flex-direction: column;
        overflow-x: hidden;
    }
    .testimonial-content{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        gap: 2.0rem;
        margin-block: 1.6rem;
        .testimonial-item{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1.5rem;
            div{
                width: 80%;
                height: 520px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 0.5rem;
                background-color: #f6f6f6;
                border-radius: 0.5rem;
                padding: 1.2rem;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
                @media screen and (max-width: 991px){
                    height: 280px;
                    width: 100%;

                }
                h3{
                    font-size: 4.2rem;
                    color: $orange-color;
                    text-align: center;
                    font-weight: 700;
                    margin-bottom: 1rem;
                    margin-bottom: 0;
                    @media screen and (max-width: 991px){
                        font-size: 2.0rem;
                    }
                }
                p{
                    font-size: 1.4rem;
                    color: $black-color;
                    text-align: left;
                    margin-bottom: 1rem;
                    @media screen and (max-width: 991px){
                        font-size: 1.2rem;
                    }
                }	
            }
            .btn-contact{
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $orange-color;
                color: $white-color;
                font-size: 1.6rem;
                cursor: pointer;
                gap: 0.4rem;
                padding: 0.6rem 2.8rem;
                transition: 0.3s all;
                margin-block-start: 1.8rem;
                &:hover{
                    background-color: $black-color;
                    box-shadow: 0px 0px 20px $white-color;
                    color: $white-color;
                }
                @media screen and (max-width: 991px){
                    margin-block: 0;
                }
                i{
                    font-size: 1.2rem;
                    color: $white-color;
                    transition: 0.3s;
                    &:hover{
                        color: $black-color;
                    }
                }
            }
        }
    }
}

//Location//

.location{
    padding: 1.2rem;
    height: 70vh;
    background-color: $white-color;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: $white-color;
    overflow-x: hidden;

    @media screen and (max-width: 991px) {
        height: max-content;
        width: 100%;
        flex-direction: column-reverse;
        overflow-x: hidden;
    }
}

.location-content{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1.5rem;
    margin-inline-start: 1.4rem;

    @media screen and (max-width: 991px) {
        height: max-content;
        width: 100%;
        flex-direction: column;
        margin: 0;
    }

    h2{
        font-size: 3.6rem;
        color: $orange-color;
        font-weight: 700;

        @media screen and (max-width: 991px) {
            font-size: 1.8rem;
        }
    }
    p{
        font-size: 1.0rem;
        color: $black-color;
        text-align: left;

        @media screen and (max-width: 991px) {
            font-size: 1.0rem;
        }
    }

    a{
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 2rem;
        background-color: $orange-color;
        color: $white-color;
        border: none;
        cursor: pointer;
        margin-block: 1.6rem;
        transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s;
        &:hover{
            background-color: $black-color;
            border: 1px solid $white-color;
            box-shadow: 0px 0px 20px $white-color;
        }
        @media screen and (max-width: 991px) {
            width: 100%;
            font-size: 0.8rem;
        }
    }
}

.location-maps{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 991px) {
        height:320px;
        width: 100%;
        flex-direction: column;
        margin-block: 1.4rem;
    }
}

//Rodapé //

footer{
    width: 100%;
    height: 15vh;
    background-color: $black-color;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    color: $white-color;
    padding: 1rem;

    p{
        font-size: 1.0rem;
        color: $white-color;
        margin-block: 0;
        margin-block: 0.4rem;
    }
}

//Botão WhatsApp //

.whatsapp-btn{
    position: fixed;
    bottom: 14px;
    right: 24px;
    z-index: 99;

    @media screen and (max-width: 991px) {
        max-width: 48px;
        left: 0;
    }

    img{
        max-width: 74px;
        border-radius: 40%;
        transition: transform 0.3s;
        &:hover img{
            transform: scale(1.1);
        }
    }
}

.whatsapp-btn span{
    visibility: hidden;
    position: absolute;
    width: 120px;
    top: 8px;
    left: -140px;
    padding: 4px;
    border-radius: 8px;
    text-align: center;
    background-color: $black-color;
    color: $white-color;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s;
    cursor: pointer;
    &:hover span{
        transform: translateX(-100%);
    }
}
.whatsapp-btn:hover span{
    visibility: visible;
    opacity: 1;
}

